.movies__movie{
    width:40%;
    display:flex;
    border: 0.1px solid #7e7e7e;
    box-shadow: 0.2em 0.2em #555454;
    background-color: #7e7e7e;
    margin:1em;
}
.img_container{
    margin:0 0.5em;
}
.img_container img{
    top:-1em;
    position:relative;

}
.movie__title{
    font-size:1.25em;
    margin:0;
    display:inline;
}
.movie__year{
    margin:0;
    display:inline;
}
.movie__genres{
    padding:0;
    margin:0;
}
.movie__genre{
    display:inline-block;
    padding-right:0.5em;
    color:#979797;
}

.movie__summary{
    font-size:0.9em;
    color:#dadada;
}

@media(max-width:1300px){
    img{
        width:150px;
    }
}
@media(max-width:1024px){
    .movies__movie{
        width:80%;
    }
}

@media(max-width:500px){
    img{
        width:130px;
    }
    .movie__title{
        font-size:1em;
    }

    .movie__genre{
        font-size:0.8em;
    }

    .movie__summary{
        font-size:0.8em;
    }
}


